
.back-img{

    background-color: antiquewhite;
    background-image: url(img/Tumblr.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 100px 50px 50px 230px;
    
}

#testing-para1{

    color: rgb(125, 240, 9);

}   

.para{
    border: 2px solid blue;
}